* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* outline: 3px solid red; */
}

body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    height: 72px;
    background-color: #1f2937;
    color: white;
    align-content: center;
    flex: none;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.first,
.second, 
.third,
.fourth {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    background-color: #1f2937;
}

.second, 
.fourth {
    background-color: white;
}

.third {
    background-color: #e5e7eb;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

p,
footer,
a {
    font-size: 18px;
}

.container {
    max-width: 800px;
    justify-content: center;
    display: flex;
    flex: 1;
    padding: 0px 24px;
}

.header-content {
    max-width: 800px;
    padding: 0px 24px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.header-title {
    font-size: 24px;
    color: #f9faf8;
}

.first-content {
    gap: 16px;
    align-items: center;
}

.first-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.first-text h1 {
    font-size: 42px;
    font-weight: 800;
    color: #f9faf8;
}

.first-text p,
.modal-content p,
.modal-title {
    color: #e5e7eb;
}


.first-image {
    /* width: 400px;
    height: 150px; */
    background-color: white;
    align-self: stretch;
    flex: 1;
    text-align: center;
    align-content: center;
}

.second {
    text-align: center;
    flex-direction: column;
    gap: 12px;
}

.second-title {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}

.second-content {
    gap: 30px;
    flex: none;
}

.card {
    width: 150px;
}

.box {
    width: 125px;
    height: 125px;
    background-color: white;
    border: 3px solid rgb(65, 147, 255);
    border-radius: 10px;
    margin: 0px auto 10px;

}

.third-content {
    flex-flow: column wrap;
    justify-content: center;
}

.quote em {
    align-self: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
}

.cite {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
}

.modal {
    max-width: 800px;
    height: 120px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 32px 48px;
    border-radius: 10px;
    flex: 1 1 0;
}

.modal-title {
    font-size: 24px;
    font-weight: 800;
}

button {
    padding: 8px 24px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    border: 2px solid #f9faf8;
    border-radius: 5px;
}

footer {
    text-align: center;
}
